<div class='liveeditor' contenteditable='true'>
	<div class='container'>
	<h1 class='title'>Title</h1>
	</div>
</div>

<div class='editorbar'>
	<div class="btn-group">
	  <div class="btn-group">
  	    <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  	      Style
  	      <span class="caret"></span>
  	    </a>
  	    <ul class="dropdown-menu" role="menu">
  	      <li><a href="#">Heading</a></li>
  	      <li><a href="#">Subheading</a></li>
  	      <li><a href="#">Quote</a></li>
  	    </ul>
  	  </div>
	  <a ng-click="bold()" href="" class="btn btn-default"><i class='fa fa-bold'></i></a>
	  <a ng-click="italic()" href="" class="btn btn-default"><i class='fa fa-italic'></i></a>
	  <a ng-click="underline()" href="" class="btn btn-default"><i class='fa fa-underline'></i></a>
	  <a type="button" class="btn btn-default"><i class='fa fa-indent'></i></a>
	  <a type="button" class="btn btn-default"><i class='fa fa-list'></i></a>
	  <a type="button" class="btn btn-default"><i class='fa fa-list-ol'></i></a>
	  <a type="button" class="btn btn-default"><i class='fa fa-image'></i></a>

	</div>
</div>